
body, input, select, button, textarea, .layer-chip {
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  /*overflow: scroll;*/
  background: rgb(231, 231, 231);
  /*border-radius: 0 16px 16px 0;*/
  box-shadow: 2px 0 16px rgba(67,17,100,0.10);
  border: none;
  border-right: 2px solid #adadaf;
}

nav li {
  text-align: center;
  border: none;
  margin-bottom: 8px;
  border-top:#000000;
  border-left: #000000;
  border-right: #000000;
}

nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 44px;
  color: #fff;
  background: #431164c2;
  border-radius: 8px;
  margin: 8px 12px;
  padding: 12px 20px 12px 44px;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 8px rgba(67,17,100,0.07);
  position: relative;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  text-decoration: none;
}


nav li a:hover {
  background: #adadaf;
  color: #431164;
  box-shadow: 0 4px 16px rgba(67,17,100,0.15);
}

nav li a.active {
  background: #adadaf;
  color: #431164;
  box-shadow: 0 4px 16px rgba(67,17,100,0.15);
}

nav li a.active .icon-home,
nav li a.active .icon-map,
nav li a.active .icon-add,
nav li a.active .icon-favorites,
nav li a.active .icon-chat,
nav li a.active .icon-profile {
  color: #431164c2;
}

nav li a:hover .icon-home,
nav li a:hover .icon-map,
nav li a:hover .icon-add,
nav li a:hover .icon-favorites,
nav li a:hover .icon-chat,
nav li a:hover .icon-profile {
  color: #431164c2;
}

#profilBtn {
  margin-right: 10px;   
}

.icon-profile,
.icon-favorites,
.icon-chat,
.icon-home,
.icon-map,
.icon-add {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;  
  height: 20px;
  color: #ffffff;
  transition: color 0.2s;
}



#menuBtn {
  position: fixed;
  top: 8px;
  left: 10px;
  z-index: 1200;
  background: #43116473;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
  transition: background 0.2s;
}

#menuBtn:hover {
  background: #adadaf;
  box-shadow: 0 0 4px #431164c2;
  
}

#menuBtn:hover svg rect {
  fill:#431164c2;
}

